/* Navbar */
nav {
  background-color: rgba(74, 74, 74, 0.85) !important;
}

.side-nav {
  opacity: 0.8;
}

.fb-link {
  
  margin-top: 0.4rem;
}

/* Showcase Section */
#showcase {
  display: flex;
  align-items: center;
  background-image: url('../img/tools.jpg');
  height: 600px;
  background-position: center;
}

#showcase p {
  text-shadow: 1px 1px black;
}

/* What to Expext Section */
#expect {
  background-image: url('../img/boards.jpg');
  background-position: center;
  padding-top: 1.75rem;
  color: #424242;
}

#expect h4 {
  margin-bottom: 1.75rem;
  font-weight: bold;
}

#expect p {
  margin-top: 5px;
}

/* Featured Services Grid */
#services p {
  margin-top: 3px;
}

#services h4 {
  font-weight: bold;
  margin-top: 30px;
}

.services-row div {
  margin-top: 10px;
}

.services-row {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-areas: 
    "repairs carpentry electrical kandb tv furniture plumbing cabinets"
}

.repairs {
  grid-area: repairs;
}

.carpentry {
  grid-area: carpentry;
}

.electrical {
  grid-area: electrical;
}

.kandb {
  grid-area: kandb;
}

.tv {
  grid-area: tv;
}

.furniture {
  grid-area: furniture;
}

.plumbing {
  grid-area: plumbing;
}

.cabinets {
  grid-area: cabinets;
}

.recent-work {
  margin-top: 30px;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.imgs img {
  width: 100%;
}


/* Reviews Carousel */
.carousel-item {
  padding: 20px;
}

.carousel-item h5 {
  font-size: 18px;
}

.carousel-item span {
  font-style: italic;
}

.carousel-item p {
  font-size: 14px !important;
}

.carousel {
  height: 240px !important;
}

.services-button {
  margin-top: 30px;
  margin-bottom: 30px;
}



/* About section */
#about {
  background-image: url('../img/truck.jpg');
  background-position: center;
  color: #424242;
}

#about h3 {
  font-weight: bold;
  margin-top: 30px;
}

.about-card {
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.85);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}

.profile-col {
  margin-top: 50px;
}

.profile-desc {
  font-size: 1.5rem;
  margin-top: -5px;
}

.badges {
  margin-bottom: 10px;
}

.achp-badge {
  margin-top: 20px;
  margin-bottom: 30px;
}




/* Contact Section */
#contact {
  background-image: url('../img/denver.jpg');
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.contact-header {
  padding: 2rem;
  background-color: #424242;
  color: white;
}

.card-panel {
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 5px;
  margin-top: 30px;
}

/*  Footer Section */
.footer-logo {
  width: 30%;
  height: 30%;
}

.fb-footer {
  color: white;
}




/* Shrink logo to fit on cell phone screens */
@media (max-width: 600px) {
  .brand-logo {
    font-size: 1.5rem !important;
  }

  #showcase img {
    width: 85%;
    height: 85%;
  }

#expect .col {
    width: 100%;
  }

}

/* Featured Services */
@media (max-width: 750px) {
  .services-row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
      "repairs carpentry electrical kandb"
      "tv furniture plumbing cabinets"
  }
}

